.device{
	background-color:rgba(0,0,0,0.5);
	margin:10px;
	padding:20px;
	margin-top:20px;
	min-height:40%;
	float:left;
}

.info_cont{
	position:relative;
	margin:0 auto;
	background:rgba(0,0,255,0.2);
	width:95%;
	padding:10px;
	color:white;
}
.mogucnosti{
	margin:10px auto;
	background:rgba(255,0,0,0.2);
	width:90%;
	padding:10px;
	color:white;
}
input{
	color:black;
	max-width:80%;
}
.btn{
	margin:5px auto;
}